---

---

<header class="fixed top-0 bg-violet-950 shadow-lg shadow-violet-900 flex justify-center items-center py-3 w-full mx-auto">


  <nav class="flex flex-row gap-x-10 opacity-80">
    <a href="#home">Home</a>
    <a href="#about">About</a>
    <a href="#studies">Studies</a>
    <a href="#projects">Projects</a>
    <a href="#contact">Contact</a>
  </nav>
</header>