---
import StudiesItem from "./StudiesItem.astro"

const studies = [
  {
    date: 'Septiembre 2024',
    title: 'Front end Talento tech',
    description: 'adasdlksnakdlaskldasdaskldjaskldjasldklasdksadas',
  },
  {
    date: 'Febrero 2024',
    title: 'React codo a codo',
    description: 'adasdlksnakdlaskldasdaskldjaskldjasldklasdksadas',
  },
  {
    date: 'Agosto 2023',
    title: 'Full stack codo a codo',
    description: 'adasdlksnakdlaskldasdaskldjaskldjasldklasdksadas',
  },
];
---

<ol class="relative border-s border-gray-200 dark:border-gray-700 mx-12 lg:ml-3">                  
    { studies.map(study => (
        <li class="mb-10 ms-4">
            <StudiesItem {... study} />
        </li>
    ))}
</ol>

